:root {
  --color-1: rgb(242, 75, 214);
  --color-1-b: rgb(75, 242, 181, 0);
  --color-1-a: rgba(242, 75, 220, 0.5);
  --color-2: #bf26a5;
  --color-3: #3e4855;
  --color-3-a: rgba(52, 61, 71, 0.97);
  --color-4: rgb(242, 75, 186);
  --color-5: #d9d3c1;
  --light-persik: rgb(242, 196, 155);
  --light-persik-a: rgba(255, 255, 255);
}
.tab {
  display: flex;
  position: absolute;
  top: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: var(--color-3);
  box-shadow: 0px 0px 30px#b14da3;
  border-radius: 15px;
  max-width: 900px;
  width: 90%;
  z-index: 20;
  transition: all 0.5s;
}

.aboutTitle {
  font-family: "Dosis", sans-serif;
  color: var(--color-5);
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 1rem;
}

.aboutText {
  font-family: "Muli", sans-serif;
  color: var(--color-1);
  font-size: 2.5em;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
}
